<?xml version='1.0' encoding='utf-8'?>
<package xmlns="http://www.idpf.org/2007/opf" version="2.0" unique-identifier="{{doc_uuid}}">
  <metadata>
    <dc-metadata xmlns:dc="http://purl.org/dc/elements/1.1/">
      <dc:title>{{title}}</dc:title>
      <dc:language>en-gb</dc:language>
      <meta content="cover-image" name="cover"/>
      <dc:creator>{{author}}</dc:creator>
      <dc:publisher>{{publisher}}</dc:publisher>
      <dc:subject>{{subject}}</dc:subject>
      <dc:date>{{date}}</dc:date>
      <dc:description>{{description}}</dc:description>
    </dc-metadata>
    <x-metadata>
      <output content-type="application/x-mobipocket-subscription-magazine" encoding="utf-8"/>
    </x-metadata>
  </metadata>
  <manifest>
    <item href="contents.html" media-type="application/xhtml+xml" id="contents"/>
    <item href="nav-contents.ncx" media-type="application/x-dtbncx+xml" id="nav-contents"/>
    <item href="cover-image.gif" media-type="image/gif" id="cover-image"/>
    <item href="{{masthead}}" media-type="image/gif" id="masthead"/>
    {{#manifest_items}}
    <item href="{{href}}" media-type="{{media}}" id="{{idref}}"/>
    {{/manifest_items}}
  </manifest>
  <spine toc="nav-contents">
    <itemref idref="contents"/>
    {{#spine_items}}
    <itemref idref="{{idref}}"/>
    {{/spine_items}}
  </spine>
  <guide>
    <reference href="contents.html" type="toc" title="Table of Contents"/>
    {{#first_article}}
    <reference href="{{href}}" type="text" title="Beginning"/>
    {{/first_article}}
  </guide>
</package>
